@use '@angular/material' as mat;
@use '/node_modules/m3-components' as m3c;
@include mat.core();

/* Browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

/*M3 Template Default Typography Styles*/
@import "~@fontsource/roboto/index.css";
@import "~@fontsource/roboto/100.css";
@import "~@fontsource/roboto/300.css";
@import "~@fontsource/roboto/500.css";

h1 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 3.5rem;
}
h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2.5rem;
}
h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2rem;
}
h4 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem;
}
h5 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem;
}
h6 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1rem;
}
p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
}

/*Material Design Icon Import*/
@import "~@fontsource/material-icons/400.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Angular Material/M3 Template Custom Theme*/
$global-theme-primary: (
    50 : #e3edf3,
    100 : #b9d2e0,
    200 : #8ab4cb,
    300 : #5b96b6,
    400 : #3780a7,
    500 : #146997,
    600 : #12618f,
    700 : #0e5684,
    800 : #0b4c7a,
    900 : #063b69,
    A100 : #99caff,
    A200 : #66afff,
    A400 : #3394ff,
    A700 : #1a87ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$global-theme-accent: (
    50 : #e6e6e6,
    100 : #c1c1c1,
    200 : #989898,
    300 : #6f6f6f,
    400 : #505050,
    500 : #313131,
    600 : #2c2c2c,
    700 : #252525,
    800 : #1f1f1f,
    900 : #131313,
    A100 : #ef6c6c,
    A200 : #ea3e3e,
    A400 : #f50000,
    A700 : #db0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$global-theme-warn: (
    50 : #f7e0e0,
    100 : #eab3b3,
    200 : #dd8080,
    300 : #cf4d4d,
    400 : #c42626,
    500 : #ba0000,
    600 : #b30000,
    700 : #ab0000,
    800 : #a30000,
    900 : #940000,
    A100 : #ffbfbf,
    A200 : #ff8c8c,
    A400 : #ff5959,
    A700 : #ff4040,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-primary: mat.define-palette($global-theme-primary, 500);
$mat-accent: mat.define-palette($global-theme-accent, A200, A100, A400);
$mat-warn: mat.define-palette($global-theme-warn, 500);


$mat-theme: mat.define-light-theme((
 color: (
   primary: $mat-primary,
   accent: $mat-accent,
   warn: $mat-warn
 )
));

//Generate ng-material global CSS vars
@include mat.all-component-themes($mat-theme);

//Generate m3-component global CSS styles
@include m3c.component-theme($global-theme-primary,$global-theme-accent,$global-theme-warn )
